@media screen and (max-width: 744px) {
    main {

        .music {

            .grid {

                .card {
                    width: calc(100%/2 - 1rem);
                }
            }

            .player {

                .mini_player {

                    .info {

                        p {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100px;
                        }
                    }
                }

                .author {
                    display: block;

                    button {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }

                .comma {
                    display: none;
                }

                .quote {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    header {

        .container {
            padding: 0;

            .left {

                .logo {
                padding-right: 0px;
                }

                .logo :first-child {
                display: none;
                }

                .logo :last-child {
                display: block;
                }

                .search {
                    
                    input {
                        display: none;
                    }

                    i {
                        position: absolute;
                        left: 300px;
                    }
                }
            }

            .right {
                a {
                    padding: 0.5rem;
                }
            }
        }
    }
    
    main {

        .search_attributes {
            
            input {
                width: 520px;
            }
        }

        .music {

            .grid {
                width: 100%;
                padding-right: 0;
                margin-left: -0.5rem 0;
            }

            .player {
                display: none;
            }
        }
    }
}