* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
}

body {
    font-family: arial, sans serif;
}

/* debug */

.debug {

    * {
        border: 1px dashed;
    }

    header {
        background-color: aqua;
    }
}

/* colors */

:root {
    --band-primary: #222222;
    --band-secondary: #2b2b2b;
    --band-header-search: #464646;
    --band-main-search: #3c3c3c;
    --band-text-contrast: #919191;
    --band-text: white;
}

/* container */

.container {
    width: 95%;
    margin: auto;
}

/* flex */

.d-flex {
    display: flex;
}

/* position */

.relative {
    position: relative;
}

/* header */

header {
    background-color: var(--band-primary);

    .container {
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        .left {

            .logo {
                padding-right: 50px;
            }

            input {
                background-color: var(--band-header-search);
                color: var(--band-text-contrast);
                border: none;
                height: 36px;
                width: 300px;
                padding-left: 40px;
                border-radius: 3px;
                font-size: 1rem;
            }

            i {
                position: absolute;
                left: 10px;
                top: 10px;
                color: var(--band-text-contrast);
            }


        }

        .right {

            a {
                text-decoration: none;
                color: var(--band-text);
            }
        }

        .right :last-child {
            margin-left: 30px;
        }
    }
}

/* main */

main {

    input {
        background-color: var(--band-header-search);
        color: var(--band-text-contrast);
        border: none;
        height: 36px;
        width: 300px;
        padding-left: 40px;
        border-radius: 3px;
        font-size: 1rem;
    }

    i {
        position: absolute;
        left: 10px;
        top: 10px;
        color: var(--band-text-contrast);
    }

}