* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
}

body {
    font-family: arial, sans serif;
    height: 100vh;
}

/* colors */

:root {
    --band-primary: #222222;
    --band-secondary: #2b2b2b;
    --band-header-search: #464646;
    --band-main-search: #3c3c3c;
    --band-text-contrast: #919191;
    --band-text: white;
    --band-header-hover: #7c7a7a;
    --band-grid-hover: #2b2b2b;
}

/* container */

.container {
    max-width: 95%;
    margin: auto;
}

.search_bg {
    background-color: var(--band-secondary);
}


/* flex */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/* position */

.relative {
    position: relative;
}

/* header */

header {
    background-color: var(--band-primary);
    height: 50px;

    .container {
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        .left {

            .logo {
                padding-right: 50px;
            }

            .logo :last-child {
                display: none;
            }

            input {
                background-color: var(--band-header-search);
                color: var(--band-text-contrast);
                border: none;
                height: 36px;
                width: 300px;
                padding-left: 40px;
                border-radius: 3px;
                font-size: 1rem;
                cursor: pointer;
            }

            i {
                position: absolute;
                left: 10px;
                top: 10px;
                color: var(--band-text-contrast);
            }


        }

        .right {

            a {
                text-decoration: none;
                color: var(--band-text);
                padding: 1rem;
            }

            a:hover {
                text-decoration: underline;
                background-color: var(--band-header-hover);
            }
        }
    }
}

/* main */

main {
    background-color: var(--band-primary);
    height: calc(100vh - 50px);


    .search_attributes {
        padding: 1rem 0;

        input {
            background-color: var(--band-header-search);
            color: var(--band-text-contrast);
            border: 1px solid;
            height: 36px;
            width: 300px;
            padding-left: 40px;
            border-radius: 20px;
            font-size: 1rem;
            cursor: pointer;
        }

        i {
            position: absolute;
            left: 10px;
            top: 27px;
            color: var(--band-text-contrast);
        }
    }

    .music {
        height: 90%;

        .grid {
            width: 70%;
            overflow: hidden;
            overflow-y: auto;
            padding-top: 1rem;
            padding-right: 1.5rem;
            margin-left: -0.5rem;
            height: 100%;
            
            .card {
                margin: auto;
                width: calc(100%/4 - 1rem);
                padding-bottom: 1rem;

                .image {
                    border: 3px solid var(--band-secondary);
                    position: relative;

                    a {
                        font-size: 30px;
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                        color: var(--band-primary);
                        display: none;
                    }
                }

                .image:hover {
                    border: none;

                    a {
                        display: block;
                    }

                    a:hover {
                        color: var(--band-grid-hover);
                    }
                }

                p {
                    white-space: nowrap;
                    height: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--band-text);
                    margin: 0.5rem 0;
                }

                span {
                    color: var(--band-text-contrast);
                }
            }
        }

        .player {
            margin-top: 1rem;
            overflow-y: auto;
            width: 30%;
            padding: 0 1.5rem;
            border-left: 3px solid var(--band-secondary);
            height: 100%;

            img {
                width: 100%;
                border: 3px solid var(--band-secondary);
            }

            .mini_player {
                margin-top: 3rem;

                i {
                    color: var(--band-text);
                    font-size: 66px;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: var(--band-text);
                    margin-left: 1rem;
                }
            }

            .cta {
                margin-top: 3rem;

                button {
                    width: 100%;
                    height: 45px;
                    font-size: 1.1rem;
                    border: none;
                    border-radius: 5px;
                }

                button:hover {
                    opacity: 0.8;
                    text-decoration: underline;
                }

                .btn_wl {
                    margin-top: 1rem;
                    background-color: var(--band-primary);
                    color: white;
                    border: 1px solid var(--band-text);
                }

            }

            .album_info {
                color: var(--band-text);
                padding-top: 3rem;
                line-height: 1.5rem;
            }

            .author {
                margin-top: 2rem;
                align-items: center;

                img {
                    border-radius: 50%;
                    width: 66px;
                }

                .info {
                    color: var(--band-text);
                    margin: auto 0;
                    line-height: 1.5rem;
                    padding-left: 1rem;
                }

                button {
                    align-items: flex-end;
                    width: 20%;
                    height: 45px;
                    font-size: 1.1rem;
                    background-color: var(--band-primary);
                    color: white;
                    border: 1px solid var(--band-text);
                    border-radius: 5px;
                }

                button:hover {
                    opacity: 0.8;
                    text-decoration: underline;
                }
            }

            .comma {
                color: var(--band-text);
                font-size: 40px;
                margin-top: 2rem;
            }

            .quote {
                color: var(--band-text);
                line-height: 1.5rem;
            }
        }
    }
}